.card {
    width: calc(22% - 20px);
    /* Calcula el ancho de las columnas (33.33% con espacio entre ellas) */
    border: 1px solid #ccc;
    padding: 1px;
    box-shadow: 3px 0px 15px 10px rgba(96, 92, 92, 0.1);
    background-color: #fff;
    border-radius: 30px;


}

.card img {
    max-width: 75%;
    height: auto;
}

.card h3 {
    font-size: 18px;
    text-align: center;
}

.card p {
    font-size: 14px;
    text-align: center;
}