.card {
    width: calc(33.33% - 20px);
    /* Calcula el ancho de las columnas (33.33% con espacio entre ellas) */
    border: 1px solid #ccc;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    font-size: 18px;
    margin: 5px 0;
}

.card p {
    font-size: 14px;
    margin: 5px 0;
}